
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما </h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="card-text">09132517782</p>
                <p class="card-text">info@gmail.com</p>
                <p class="card-text">dcn</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-lg-12">
              
                <div class="bs-component">
                    <div class="jumbotron">
                        <h1 class="display-3">خوش آمدید</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
            </div>
        </div>
    </div>

</div>